body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #efe4e4;
    color: #444;
  }
  
  header {
    background: #555454;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #000000;
  }
  
  #logo {
    width: 200px;
    height: auto;
  }
  
  
  footer {
    text-align: center;
    padding: 5px;
    background: #1a1a1a;
    color: #fff;
    font-size: 0.9em;
    margin-top: 30px;
  }
  
  h1, h2, h3 {
    color: #FF0000;
    margin-bottom: 20px;
  }
  
  .filme-img img {
    width: 250px;
    background-color: #363535;
    padding: 10px;
    height: auto;
    border: 3px solid #000000; 
    border-radius: 4px;
    display: block;
    margin: 30px auto 20px auto;
    
  }
  
  .resenha {
    margin: 20px auto;
    text-align: justify;
    width: 800px;
    max-width: 90%;
    background-color: #363535;
    padding: 10px;
    border: 3px solid #000000; 
    border-radius: 4px;
    color: #fff;
  }
  
  .nota {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #000000;
  }
  
  a {
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    text-decoration: none;
    background: #7b1717;
    text-align: center;
  }
  